/*-------------
----GENERAL----
-------------*/

body {
    min-width: 303px !important;
}

#main {
    min-height: 723px !important;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.custom-info {
    background: #1cc8e3;
}

.custom-success {
    background: #5bd778;
}

.custom-warning {
    background: #ffcc33;
}

.custom-danger {
    background: #e87d88;
}

/*---------------
----BOOTSTRAP----
---------------*/

.btn-warning:focus,
.btn-warning:hover {
    background: rgb(255, 193, 7) !important;
}

/*--------------
----CAROUSEL----
--------------*/

.carousel-img {
    width: 1140px;
    height: 500px;
}

/*--------------
------HOME------
--------------*/

/*Cartes*/

[class$="-card"] {
    transition: all .4s;
}

#home-kanji .kanji-card:hover {
    background: rgb(69, 77, 84) !important;
}

/*-------------------
------ALPHABETS------
-------------------*/

#alphabet-table table td {
    width: 20%;
}

/*------------------
------RESEARCH------
------------------*/

.word-break {
    word-break: break-all !important;
}

.category {
    width: 40%;
}

.result-data {
    width: 60%;
}

/*---------------
------PANEL------
---------------*/

#panel-kanji {
    width: 20%;
}

#panel-meaning,
#panel-progress {
    width: 40%;
}

#panel-progress .progress,
.progress .progress-bar {
    height: 30px;
}

#state-1 {
    width: 25%;
}

#state-2 {
    width: 50%;
}

#state-3 {
    width: 75%;
}

#state-4 {
    width: 100%;
}

/*----------------
------FOOTER------
----------------*/

#footer {
    padding: 10px 0 !important;
}
