/*-------------
----GENERAL----
-------------*/

body {
	min-width: 303px !important;
}

a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*--------------
----CAROUSEL----
--------------*/

.carousel-img {
	width: 1140px;
	height: 500px;
}

/*--------------
------HOME------
--------------*/

/*Cartes*/
[class$="-card"] {
	transition: all .4s;
}

#home-kanji .kanji-card:hover {
	background: rgb(69, 77, 84) !important;
}

/*-------------------
------ALPHABETS------
-------------------*/

#hiragana-table table td,
#katakana-table table td {
	width: 20%;
}

/*------------------
------RESEARCH------
------------------*/



/*---------------
------ERROR------
---------------*/

#error {
	padding: 100px 0 !important;
}

/*----------------
------FOOTER------
----------------*/

#footer {
	padding: 10px 0 !important;
}

