/*-------------
----GENERAL----
-------------*/

body {
	min-width: 320px !important;
}

a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*--------------
----CAROUSEL----
--------------*/

.carousel-img {
	width: 1140px;
	height: 500px;
}

/*--------------
------HOME------
--------------*/

/*Cartes*/
[class$="-card"] {
	transition: all .4s;
}

#home-kanji .kanji-card:hover {
	background: rgb(69, 77, 84) !important;
}

.kanji-card
